
<div class="p-5 text-center bg-image rounded-3">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Student Database: What Is It?</h1>
        <h4 class="mb-3">Well, It's Just a Demo</h4>
        <%= link_to projects_path, class: "btn btn-outline-light btn-lg", role: "button" do %>
          Check Out The Projects
        <% end %>
      </div>
    </div>
  </div>
</div>