
<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">New Student</h4>
      <%= link_to students_path do %>
        <h4 class="close"><span title="Close"><i class="fa fa-times"></i></span></h4>
      <% end %>
      <%= render 'form', student: @student %>
    </div>
  </div>
</div>
