
<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        Edit Project
        <%= link_to project_path(@project) do %>
          <span title="Discard changes and show"><i class="fa fa-eye"></i></span>
        <% end %>
      </h4>
      <%= link_to projects_path do %>
        <h4 class="close"><span title="Close"><i class="fa fa-times"></i></span></h4>
      <% end %>
      <%= render 'form', project: @project %>
    </div>
  </div>
</div>
